{% extends 'base.html' %}
{% load static %}

{% block main %}
    {{ settings.1.variable|safe }}
    <div class="container">
        <div class="row">
            {% for server in official_servers %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            {% autoescape off %}{{ server.description }}{% endautoescape %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mt-1">
        {% for server in servers %}
            <div class="col s12 m4">
                {% autoescape off %}{{ server.description }}{% endautoescape %}
            </div>
        {% endfor %}
    </div>
{% endblock %}