{% extends 'base.html' %}

{% block title %}{{ player.1.display_name }}{% endblock %}

{% block main %}

    {{ settings.1.variable|safe }}
    <div class="container">
        <div class="card">
            <div class="card-image">
                <img src="{{ player.1.profile_banner }}">
                <span class="card-title grey darken-4 center-align">
                    {{ player.1.display_name }}
                </span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col m2">
                        <img src="{{ player.1.logo }}" alt="{{ player.1.display_name }}" class="responsive-img">
                    </div>
                    <div class="col m7">
                        <p>
                            {{ player.1.description }}
                        </p>
                    </div>
                    <div class="col m3">
                        <div class="collection player center-align">
                            <a href="{{ player.1.url }}" class="collection-item deep-purple white-text">
                                <i class="fa fa-twitch" aria-hidden="true"></i>
                                Twitch
                                <i class="fa fa-twitch" aria-hidden="true"></i>
                            </a>
                            <a href="{{ player.0.facebook_url|default_if_none:'#' }}" class="collection-item blue darken-4 white-text">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                Facebook
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="{{ player.0.youtube_url|default_if_none:'#' }}" class="collection-item red white-text">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                YouTube
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#player-stream">Stream</a></li>
                    <li class="tab"><a href="#player-chat">Chat</a></li>
                    <li class="tab disabled"><a href="#nope">Followersów: {{ player.1.followers }}</a></li>
                    <li class="tab disabled"><a href="#nope">Wyświetleń: {{ player.1.views }}</a></li>
                </ul>
            </div>
            <div class="card-content grey darken-4">
                <div id="player-stream">
                    <div class="video-container">
                        <iframe allowfullscreen src="https://player.twitch.tv/?channel={{ player.1.name }}"
                                frameborder="0"></iframe>
                    </div>
                </div>
                <div id="player-chat">
                    <div class="video-container" style="min-height: 50rem">
                        <iframe allowfullscreen src="https://www.twitch.tv/{{ player.1.name }}/chat?popout="
                                frameborder="0"></iframe>
                    </div>
                </div>
                <div id="nope">Tu nic nie ma. Po prostu byłem zbyt głupi, by rozwiązać tak durny problem.</div>
            </div>
        </div>
    </div>
{% endblock %}