{% extends 'player/player.html' %}

{% block title %}Twitch {{ player }}{% endblock %}

{% block stream %}
    <div class="video-container">
        <iframe allowfullscreen src="https://player.twitch.tv/?channel={{ player }}" frameborder="0"></iframe>
    </div>
{% endblock %}
{% block chat %}
    <div class="video-container" style="min-height: 540px">
        <iframe allowfullscreen src="https://www.twitch.tv/{{ player }}/chat?popout=" frameborder="0"></iframe>
    </div>
{% endblock %}