{% extends 'base.html' %}
{% load static %}

{% block title %}Filmy na YouTube{% endblock %}

{% block main %}
    {{ settings.1.variable|safe }}
    <div id="youtube" class="row">
        {% for video in youtube %}
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <a href="https://youtube.com/watch?v={{ video.video_id }}">
                            <img src="https://img.youtube.com/vi/{{ video.video_id }}/maxresdefault.jpg">
                            <span class="card-title hide-on-med-and-down">
                                <span class="new badge" data-badge-caption="">{{ video.name }}</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}