{% extends 'base.html' %}
{% load static %}

{% block title %}Partnerstwo{% endblock %}

{% block main %}
    <div class="container">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/coop.jpg' %}">
                <span class="card-title">Współpraca</span>
            </div>
            <div class="card-content">
                <p>
                    JestemGraczem.pl mogą być miejscem na Twoją reklamę, ale jednak pod kilkoma warunkami!
                </p>
                <p>
                    Nie chcemy reklamować czegoś, czego sami byśmy nie chcieli mieć, czy oglądać.
                </p>
                <p>
                    Chcemy, by reklama u nas była interesująca dla naszych użytkowników i nim zaczniemy coś promować -
                    upewnimy się, czy to warte.
                </p>
                <p>
                    Możesz zareklamować się całkowicie za darmo! Dodatkowo jeśli prowadzisz interesujący blog/portal
                    o grach komputerowych, ale również o streamch - możemy dodawać Twoje posty również jako link
                    na naszej stronie!
                </p>
                <h4>Pytania?</h4>
                <p>
                    Jeśli czegoś nie jest pewien/pewna to prosimy o kontakt :)
                    Oficjalny adres: otlet@otlet.pl
                </p>
            </div>
        </div>
    </div>
{% endblock %}