{% extends 'base.html' %}
{% load static %}

{% block title %}Strona główna{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ul class='kwicks kwicks-horizontal'>
            <li id='panel-1'>
                <h1>Live</h1>
            </li>
            <li id='panel-2'>
                <h1>YouTube</h1>
            </li>
            <li id='panel-3'>
                <h1>Serwery gier</h1>
            </li>
        </ul>
        <div id="youtube" class="row">
            <h3 class="section-stream">
                Ostatnio na YouTube <a href="{% url 'youtube' %}" class="waves-effect waves-light btn">Poznaj
                więcej</a>
            </h3>
            {% for video in youtube %}
                <div class="col m3 s12" style="padding: 0">
                    <a href="https://youtube.com/watch?v={{ video.video_id }}">
                        <img src="https://img.youtube.com/vi/{{ video.video_id }}/maxresdefault.jpg"
                             class="responsive-img">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <link rel='stylesheet' type='text/css' href='{% static 'css/jquery.kwicks.min.css' %}'/>
    <script src='{% static 'js/jquery.kwicks.min.js' %}' type='text/javascript'></script>

    <style>
        .kwicks {
            height: 20rem;
        }

        .kwicks > li {
            height: 20rem;
            cursor: pointer;
        }

        .kwicks > li > h1 {
            position: relative;
            text-align: center;
            top: 40%;
            transform: translateY(-40%);
            -webkit-transform: translateY(-40%);
            -ms-transform: translateY(-40%);
            color: #FFFFFF;
            text-shadow: #000000 1rem 1rem 1rem;
        }

        #panel-1 {
            background-color: #0000FF;
        }

        #panel-2 {
            background-color: #FF0000;
        }

        #panel-3 {
            background-color: #00FF00;
        }

        #panel-4 {
            background-color: #bf7cc7;
        }
    </style>

    <script type='text/javascript'>
        $(function () {
            let $container = $('.kwicks').kwicks({
                maxSize: '50%',
                behavior: 'menu',
                selectOnClick: false
            });

            $("#panel-1").on("click", function (event) {
                window.location.replace("{% url 'livestreams' %}");
                event.preventDefault();
            });
            $("#panel-2").on("click", function (event) {
                window.location.replace("{% url 'youtube' %}");
                event.preventDefault();
            });
            $("#panel-3").on("click", function (event) {
                window.location.replace("{% url 'gameservers' %}");
                event.preventDefault();
            });

            $container.on('expand.kwicks', function (e, data) {
                let newColor;
                if (data.expanded) {
                    newColor = $(data.expanded).css('color');
                } else {
                    newColor = '#666666';
                }
                $container.css({
                    'color': newColor,
                });
            });
        });
    </script>
{% endblock %}