{% extends 'base.html' %}
{% load static %}

{% block title %}Strona główna{% endblock %}

{% block main %}
    {{ settings.1.variable|safe }}
    <div class="container-fluid">
        <div class="row">
            <div class="col m12">
                <div id="youtube" class="row">
                    <h3 class="section-stream">
                        Ostatnio na YouTube <a href="{% url 'youtube' %}" class="waves-effect waves-light btn">Poznaj
                        więcej</a>
                    </h3>
                    {% for video in youtube %}
                        <div class="col s12 m4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <a href="https://youtube.com/watch?v={{ video.video_id }}">
                                        <img src="https://img.youtube.com/vi/{{ video.video_id }}/maxresdefault.jpg">
                                        <span class="card-title hide-on-med-and-down">
                                                <span class="new badge" data-badge-caption="">{{ video.name }}</span>
                                            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col m4">
                <a href="{% url 'livestreams' %}">
                    <img class="responsive-img hoverable" src="{% static 'img/livestreams_menu.png' %}">
                </a>
            </div>
            <div class="col m4">
                <a href="{% url 'youtube' %}">
                    <img class="responsive-img hoverable" src="{% static 'img/youtube_menu.png' %}">
                </a>
            </div>
            <div class="col m4">
                <a href="{% url 'gameservers' %}">
                    <img class="responsive-img hoverable" src="{% static 'img/serwery_menu.png' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}