{% extends 'base.html' %}
{% load static %}

{% block title %}Strona główna{% endblock %}

{% block main %}
    {{ settings.1.variable|safe }}

    <div class="container-fluid">
        <div class="row">
            <div class="col m4">
                <a href="{% url 'livestreams' %}">
                    <img class="card-panel responsive-img hoverable" src="{% static 'img/livestreams.png' %}">
                </a>
            </div>
            <div class="col m4">
                <a href="{% url 'youtube' %}">
                    <img class="card-panel responsive-img hoverable" src="{% static 'img/youtube.png' %}">
                </a>
            </div>
            <div class="col m4">
                <a href="{% url 'gameservers' %}">
                    <img class="card-panel responsive-img hoverable" src="{% static 'img/serwery.png' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}