{% extends 'base.html' %} {% load static %} {% block title %}Strona główna{% endblock %} {% block main %}
<div class="black">
    <div class="container">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a class="active" href="#livestream">Live Streams</a>
            </li>
            <li class="tab">
                <a href="#youtube">YouTube</a>
            </li>
            <li class="tab">
                <a href="#gamesservers">Serwery gier</a>
            </li>
        </ul>
    </div>
</div>

{{ settings.1.variable|safe }}
<div id="livestream" class="stream-container">
    <<div class="container">
        <div class="row">
            <div class="col s12 m12">
                <!--<div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title">Dołącz do zespołu!</span>
                            <p>
                                Poza promowaniem polskich streamerów, staramy się też im bezpośrednio pomagać. Każdy
                                twórca, który zechce dołączyć do zespołu może liczyć na dużo lepsze promowanie swojego
                                kanału niż osoby, które po prostu zaczęły streamować po polsku i nawet nie znają naszego
                                portalu. Zapraszamy do kontaktu i zakładki współpraca!
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://forum.jestemgraczem.pl/messenger/compose/?to=1">Kontakt przez forum</a>
                            <a href="mailto:otlet@otlet.pl">Kontakt email</a>
                        </div>
                    </div>-->
            </div>
        </div>
</div>
<div class="container-fluid">
    <div class="row esport-stream-row">
        <h3 class="section-stream">eSport na żywo</h3>
        <div class="container progress" id="esport_loading">
            <div class="red indeterminate"></div>
        </div>
    </div>
    <div class="row stream-container-row">
        <h3 class="section-stream">Streamy na żywo</h3>
        <div class="container progress" id="stream_loading">
            <div class="red indeterminate"></div>
        </div>
    </div>
</div>
</div>

<div id="youtube" class="row">
    <div class="container">
        {% for video in youtube %}
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <a href="https://youtube.com/watch?v={{ video.video_id }}">
                        <img src="https://img.youtube.com/vi/{{ video.video_id }}/maxresdefault.jpg">
                        <span class="card-title hide-on-med-and-down">
                            <span class="new badge" data-badge-caption="">{{ video.name }}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="gamesservers" class="row">
    <div class="container" style="margin-top: 1rem">
        <div class="row">
            {% for server in official_servers %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        {% autoescape off %}{{ server.description }}{% endautoescape %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container" style="margin-top: 1rem">
        {% for server in servers %}
        <div class="col s12 m4">
            {% autoescape off %}{{ server.description }}{% endautoescape %}
        </div>
        {% endfor %}
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="video-container">
            <iframe allowfullscreen id="stream_url" src="https://player.twitch.tv/?channel={{ player }}" frameborder="0"></iframe>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Zamknij</a>
    </div>
</div>
{% endblock %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js" integrity="sha256-iaqfO5ue0VbSGcEiQn+OeXxnxAMK2+QgHXIDA5bWtGI="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
<script src="{% static 'js/stream.js' %}"></script>
<script>
    $(document).ready(function () {
        Stream.start("{% url 'stream.live' %}", "{% url 'stream.live.esport' %}",
            "{% url 'stream.mixer' '_' %}", "{% url 'stream.twitch' '_' %}",
            "{% static 'img/placeholder.gif' %}");
        $('#modal').modal();
    });
</script>
{% endblock %}