{% extends 'base.html' %}
{% load static %}

{% block title %}Dodaj film YouTube{% endblock %}

{% block main %}
    <div class="container mt3">
        <div class="row" style="margin-top: 2rem">
            <div class="col s12 l8 offset-l2">
                <div class="card-panel white">
                    {% if info %}
                        <div class="card-panel {{ info.0 }}">{{ info.1 }}</div>
                    {% endif %}
                    <form class="white" style="padding: 1rem" action="{% url 'add.twitch' %}"
                          method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.username.errors }}
                                <label for="{{ form.username.id_for_label }}">Nazwa użytkownika na Twitch</label>
                                {{ form.username }}
                            </div>
                        </div>
                        {{ form.captcha }}<br>
                        <input class="waves-effect waves-light purple btn" type="submit" value="Dodaj"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}