body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.player {
    margin-top: 1rem;
}

/*
    Carousel
 */
.stream-container {
    padding-top: 2rem;
}

.carousel .carousel-item {
    margin-top: 2rem;
    display: none;
    width: 640px;
    height: 480px;
}