body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.player {
    margin-top: 1rem;
}

.section-stream {
    border-left: solid #6a1b9a 1rem;
    color: white;
    background: #4a148c;
    padding: 1rem;
}

@media screen and (max-width: 991px) {
    .section-stream {
        display: none;
    }
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 1;
}

.hoverable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 0;
}

#particle {
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
}

#net23 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040404;
}

#net23 li {
    float: left;
}

#net23 li a {
    display: block;
    color: #999999;
    text-align: center;
    padding: 0.3rem 0.3rem;
    text-decoration: none;
}

#net23 .net23 {
    cursor: default;
}

#net23 li a:hover {
    color: #cccccc;
}

#net23 li .net23:hover {
    color: white;
}

.linkblog-image {
    position: relative;
    width: 100%;
    height: 200px;
    background: no-repeat 50% 50%;
    background-size: cover;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 1rem;
}

.fa-gamepad {
    font-size: 2rem;
}