class AdminConfig:
    DEBUG_MODE = True
    SECRET_KEY = ''
    TWITCH_API_KEY = ''


class DatabaseConfig:

    DB_NAME = ""
    DB_USERNAME = ""
    DB_PASSWORD = ""
    DB_HOST = "localhost"
    DB_PORT = 5432
