<!doctype html>
<html class="no-js" lang="pl">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JestemGraczem.pl</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>
<!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<nav class="purple darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">
        JestemGraczem.pl
    </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
{% block main %}{% endblock %}
<footer class="page-footer purple darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">JestemGraczem.pl</h5>
                <p class="grey-text text-lighten-4">
                    We are the champions!
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Więcej JG:</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://facebook.com/JestemGraczemPL">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://mixer.com/otlet">
                            Mixer Stream
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://mixer.com/team/polishstreamers">
                            Mixer Team
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://twitch.tv/otlet">
                            Twitch
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://youtube.com/PanOtlet">
                            YouTube
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="http://blog.jestemgraczem.pl">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Przydatne strony</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#!">
                            Regulamin
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">
                            Polityka prywatności
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">
                            Zostań partnerem!
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</body>
</html>