<!doctype html>
<html class="no-js" lang="pl">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Strona główna{% endblock %} - JestemGraczem.pl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% block metadesc %}JestemGraczem.pl jest innowacyjną platformą dla graczy! Serwery gier, reklamowanie filmów na YouTube oraz kanałów Streamingowych!{% endblock %}"/>
    <meta name="keywords"
          content="jestemgraczem,jestem,graczem,stream,twitch,reklama,promowanie,youtube,mixer.com,twitch.tv"/>
    <meta name="author" content="Otlet.pl">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <link type="text/plain" rel="author" href="./static/humans.txt" />

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
<div id="particle"></div>
<nav class="purple darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index' %}" class="brand-logo tooltipped" data-position="bottom"
           data-delay="50" data-tooltip="JestemGraczem.pl">
            <i class="fa fa-gamepad" aria-hidden="true"></i>
        </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="https://www.reddit.com/r/jestemgraczem/">
                    <i class="fa fa-comments"></i> Forum
                </a>
            </li>
            <li>
                <a href="https://patronite.pl/23games">
                    <i class="far fa-money-bill-alt"></i> Patronite
                </a>
            </li>
            <li>
                <a href="{% url 'service.cooperation' %}">
                    <i class="fa fa-user-plus"></i> Współpraca
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/jestemgraczem/comments/7w8suf/dodaj_sw%C3%B3j_stream_lub_film_na_youtube/">
                    <i class="fa fa-plus"></i> Dodaj stream
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/jestemgraczem/comments/7w8suf/dodaj_sw%C3%B3j_stream_lub_film_na_youtube/">
                    <i class="fa fa-plus"></i> Dodaj film
                </a>
            </li>
        </ul>

        <ul class="side-nav" id="nav-mobile">
            <li>
                <a href="https://www.reddit.com/r/jestemgraczem/">
                    <i class="fa fa-comments"></i> Forum
                </a>
            </li>
            <li>
                <a href="https://patronite.pl/23games">
                    <i class="far fa-money-bill-alt"></i> Patronite
                </a>
            </li>
            <li>
                <a href="{% url 'service.cooperation' %}">
                    <i class="fa fa-user-plus"></i> Współpraca
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/jestemgraczem/comments/7w8suf/dodaj_sw%C3%B3j_stream_lub_film_na_youtube/">
                    <i class="fa fa-plus"></i> Dodaj stream
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/jestemgraczem/comments/7w8suf/dodaj_sw%C3%B3j_stream_lub_film_na_youtube/">
                    <i class="fa fa-plus"></i> Dodaj film
                </a>
            </li>
        </ul>
    </div>
</nav>
<main>
    {% block main %}{% endblock %}
</main>
<footer class="page-footer purple darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">JestemGraczem.pl</h5>
                <p class="grey-text text-lighten-4">
                    JestemGraczem.pl jest innowacyjną platformą dla graczy! Serwery gier, reklamowanie filmów na
                    YouTube oraz kanałów Streamingowych!
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Więcej JG:</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://facebook.com/JestemGraczemPL">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/groups/884493111573696/?ref=br_rs">
                            Grupa Wsparcia Twitch
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://mixer.com/team/polishstreamers">
                            Mixer Team
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/otlet/JestemGraczem.pl" class="white-text">
                            Open Source
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Przydatne strony</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://github.com/otlet/JestemGraczem.pl/blob/master/RULES.md">
                            Regulamin
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/otlet/JestemGraczem.pl/blob/master/POLICY-PRIVACY.md">
                            Polityka prywatności
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="{% url 'service.cooperation' %}">
                            Współpraca
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/otlet/JestemGraczem.pl/blob/master/LICENSE" class="white-text">
                            Licencja / GNU AGPL v3.0
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright black">
        <div class="container">
            Made with &hearts; by
            <a class="orange-text text-lighten-3" href="https://otlet.pl" target="_blank">
                Otlet
            </a>
            &emsp; Strona korzysta z plików Cookies!
            <a class="grey-text text-lighten-4 right" href="https://23games.pl" target="_blank">23Games</a>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{#<script src="https://use.fontawesome.com/bd86b21063.js"></script>#}
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        particlesJS("particle", particles_options);
    });
</script>
{{ settings.0.variable|safe }}
{% block javascripts %}{% endblock %}
</body>
</html>