{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="card-panel grey darken-4">
            <div class="row">
                <form action="{% url 'stream.multitwitch' %}" method="post">
                    {% csrf_token %}
                    <div class="input-field col s12 m6">
                        <input name="username1" id="username1" class="validate" maxlength="32" required />
                        <label for="username1">Nazwa Twitch 1</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="username2" id="username2" class="validate" maxlength="32" required/>
                        <label for="username2">Nazwa Twitch 2</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="username3" id="username3" class="validate" maxlength="32"/>
                        <label for="username3">Nazwa Twitch 3</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="username4" id="username4" class="validate" maxlength="32"/>
                        <label for="username4">Nazwa Twitch 4</label>
                    </div>
                    <div class="switch col s12 m3">
                        <label>
                            Chat Off
                            <input type="checkbox" name="chat">
                            <span class="lever"></span>
                            Chat On
                        </label>
                    </div>
                    <div class="col s12 m3 offset-m6">
                        <input class="btn waves-effect waves-light" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}